@charset "UTF-8";
.container {
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0; }

header {
  background-image: url(../img/fon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh; }

.header-wrapper {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.45); }

nav {
  display: flex;
  justify-content: space-around;
  padding-top: 40px; }

.logo a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: bold; }

.navbar-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  min-width: 450px; }

.navbar-list__item a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1em; }

.wrapper-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 90vh; }

.intro-title {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  font-weight: bold; }

.intro-subtitle {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25em;
  padding-top: 30px;
  padding-bottom: 50px; }

.intro-button {
  align-self: center; }

.intro-button a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  height: 50px;
  width: 200px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  line-height: 50px;
  border: 2px solid #fff;
  border-radius: 5px; }

.intro-button a:hover {
  background-color: #fff;
  color: #c0301c; }

.all-titles {
  color: #555555;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25em;
  text-align: center;
  padding-top: 100px; }

.all-titles::after {
  content: " ";
  display: block;
  position: relative;
  width: 50px;
  border-bottom: 2px solid #555555;
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto; }

.all-subtitle {
  color: #555555;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 70px;
  padding: 0; }

.all-subtitle ul {
  padding: 0; }

.services {
  background-color: #fff;
  color: #555555;
  font-family: "Montserrat", sans-serif; }

.service-list {
  display: flex;
  justify-content: center;
  align-items: center; }

.service-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px; }

.service-item-img {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  border: 2px solid #dedede; }

.service-item a {
  text-align: center;
  display: block;
  text-decoration: none;
  color: #c0301c;
  font-size: 50px;
  margin-top: 15px; }

.service-item-img:hover {
  background-color: #c0301c; }

.service-item a:hover {
  color: #f8f8f8; }

.service-item-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 25px; }

.service-item-text {
  text-align: center;
  font-size: 14px;
  margin-bottom: 100px; }

.about {
  background-color: #f8f8f8; }

.about-text {
  display: flex; }

.about-text-left,
.about-text-right {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  line-height: 1.5rem;
  color: #555555; }

.about-text-left {
  margin-right: 10px; }

.about-text-right {
  margin-left: 10px; }

.about-team {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.about-team-item__img {
  position: relative; }

.about-team-item__img img {
  width: 250px;
  height: 250px;
  -o-object-fit: none;
  object-fit: none;
  -o-object-position: top;
  object-position: top;
  padding-top: 50px; }

.about-team-item__img-hover-menu {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 250px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50px;
  left: 0px;
  opacity: 0; }

.about-team-item__img-hover-menu ul {
  display: flex;
  list-style: none; }

.about-team-item__img-hover-menu li a {
  display: block;
  font-size: 18px;
  text-decoration: none;
  padding: 5px;
  border-radius: 2px;
  margin: 10px;
  color: seashell;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase; }

.about-team-item__img-hover-menu li a:hover {
  background-color: #c02323; }

.about-team-item__img-hover-menu:hover {
  opacity: 1; }

.about-team-item__name {
  text-transform: uppercase;
  text-align: center;
  color: #555555;
  font-size: 14;
  font-weight: bold;
  font-family: "Montserrat", sans-serif; }

.about-team-item__role {
  text-align: center;
  color: #555555;
  font-size: 13px;
  font-family: "Roboto Slab", serif;
  padding-bottom: 50px; }

.wrapper-latest {
  display: flex;
  flex-direction: column;
  align-items: center; }

.category-list {
  display: flex;
  list-style: none;
  margin-right: 15px;
  margin-left: 15px; }

.category-list-item a {
  text-decoration: none;
  color: #555555;
  font-family: "Montserrat", sans-serif;
  margin-right: 15px;
  margin-left: 15px; }

.wrapper-example {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.example-img {
  position: relative; }

.example-img img {
  width: 350px;
  height: 320px;
  -o-object-fit: none;
  object-fit: none;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px; }

.example-img-hover__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 320px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 0, 0, 0.4);
  opacity: 0; }

.example-img-hover__menu:hover {
  opacity: 1; }

.example-img-hover__menu-title {
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 20px; }

.example-img-hover__menu-subtitle {
  font-size: 14px;
  color: #fff;
  margin-bottom: 25px; }

.example-img-hover__menu-link a {
  font-size: 18px;
  color: #c0301c;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  background-color: #f8f8f8; }

.parallax {
  margin-top: 70px;
  height: 500px;
  background-image: url(../img/parallax.jpg);
  background-position: center;
  background-repeat: no-repeat; }

.parallax-wrapper {
  background-color: rgba(255, 20, 20, 0.6);
  height: 500px; }

.parallax-title {
  font-family: "Roboto Slab", serif;
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px; }

.parallax-button a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  padding: 20px 35px 20px 35px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid #fff;
  border-radius: 2px; }

.parallax-button a:hover {
  background-color: #fff;
  color: #c0301c; }

.parallax-wrapper .container {
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.recent-post {
  display: flex; }

.wraper-content {
  display: flex;
  flex-direction: column; }

.recent-post-img img {
  width: 460px;
  height: 320px;
  -o-object-fit: none;
  object-fit: none;
  margin-right: 40px;
  margin-bottom: 75px; }

.wrapper-recent-post {
  position: relative; }

.recent-post-date {
  font-weight: bold;
  color: #555555;
  font-size: 14px;
  border: 2px solid #555555;
  width: 75px;
  height: 75px;
  text-align: center;
  line-height: 37px;
  text-transform: uppercase;
  margin-right: 10px; }

.recent-post-date span {
  font-size: 24px; }

.recent-post-wrapper {
  display: flex; }

.recent-post-title a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #555555;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold; }

.recent-post-title a:hover {
  color: #c0301c; }

.recent-post-subtitle {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 13px;
  font-family: "Roboto Slab", serif;
  color: #555555; }

.recent-post-text {
  font-size: 14px;
  font-family: "Roboto Slab", serif;
  color: #555555;
  line-height: 24px; }

.recent-post-button a {
  display: block;
  margin-top: 25px;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #555555;
  font-family: "Montserrat", sans-serif; }

.recent-post-button a:hover {
  color: #c0301c; }

.clients {
  height: 480px;
  background-color: #dedede; }

.clients-logo-list {
  padding-top: 100px;
  list-style: none;
  display: flex;
  justify-content: space-around; }

.client-logo__item {
  margin-left: 30px;
  margin-right: 30px; }

.client-content-text p {
  margin-top: 80px;
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  color: #555555;
  text-align: center; }

.client-content-by-line {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  color: #555555;
  text-align: center; }

/*Footer */
.footer {
  background-color: #c0301c;
  height: 300px; }

footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.footer-social-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center; }

.footer-social-list__item a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  border: 2px solid #fff;
  display: block;
  padding: 20px;
  border-radius: 50px;
  margin-left: 8px;
  margin-right: 8px; }

.footer-social-list__item a:hover {
  color: #c0301c;
  background-color: #fff; }

.footer-text {
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  text-transform: uppercase; }

.footer-text::before {
  content: " ";
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 50px;
  border-bottom: 2px solid #fff; }

/*Footer end*/
@media (max-width: 992px) {
  .example-img img {
    width: 250px;
    height: 220px; }
  .example-img-hover__menu {
    width: 250px;
    height: 220px; }
  .recent-post:first-child::after {
    top: 550px; }
  .recent-post {
    flex-direction: column;
    align-items: center; }
  .recent-post-img img {
    -o-object-fit: none;
    object-fit: none;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px; }
  .recent-post-subtitle {
    margin-bottom: 20px; }
  .recent-post-button a {
    margin-top: 20px;
    margin-bottom: 20px; }
  .clients {
    height: 380px;
    background-color: #dedede; }
  .clients-logo-list {
    padding-top: 20px;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center; }
  .client-logo__item {
    margin-top: 5px;
    margin-bottom: 5px; }
  .client-content-text p {
    margin-top: 30px;
    margin-bottom: 30px; } }

/* Стили слайдера */
.slick-list {
  overflow: hidden; }

.slick-track {
  display: flex; }

.slider {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  position: relative; }

.slider .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center; }

.slider .slick-dots li {
  list-style: none; }

.slider .slick-dots li button {
  width: 10px;
  height: 10px;
  margin: 5px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 0px;
  cursor: pointer; }

.slider .slick-dots .slick-active button {
  background-color: #7a7a7a;
  border: 1px solid #fff; }

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px; }
  .logo a {
    margin-bottom: 20px; }
  .navbar-list {
    justify-content: space-around; }
  .intro-title {
    font-size: 2.5em; }
  .intro-subtitle {
    font-size: 1.25em;
    padding-top: 30px;
    padding-bottom: 50px; }
  .about-team-item img {
    max-width: 250px;
    max-height: 250px;
    padding-top: 20px; }
  .about-team-item__img-hover-menu {
    top: 20px; }
  .about-team-item__role {
    padding-bottom: 20px; }
  .example-img img {
    width: 250px;
    height: 220px; }
  .recent-post {
    flex-direction: column;
    align-items: center; }
  .recent-post-img img {
    -o-object-fit: none;
    object-fit: none;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px; }
  .recent-post-button a {
    margin-top: 20px;
    margin-bottom: 20px; }
  .clients {
    height: 400px;
    background-color: #dedede; }
  .clients-logo-list {
    padding-top: 20px;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center; }
  .client-logo__item {
    margin-top: 5px;
    margin-bottom: 5px; }
  .client-content-text p {
    margin-top: 30px;
    margin-bottom: 30px; } }

@media (max-width: 576px) {
  .all-titles {
    padding-top: 40px; }
  .all-subtitle {
    margin-bottom: 30px; }
  .category-list {
    flex-direction: column; }
  .container {
    width: 100%; }
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px; }
  .logo a {
    margin-bottom: 20px; }
  .navbar-list {
    width: 100%;
    flex-direction: column;
    align-items: center; }
  .intro-title {
    font-size: 2em; }
  .intro-subtitle {
    font-size: 1em;
    padding-top: 30px;
    padding-bottom: 50px; }
  .service-list {
    flex-direction: column; }
  .service-item-text {
    margin-bottom: 40px; }
  .about-text {
    flex-direction: column; }
  .about-text-left,
  .about-text-right {
    margin-right: 0px;
    text-align: center; }
  .about-team {
    flex-direction: column;
    align-items: center; }
  .about-team-item img {
    max-width: 350px;
    max-height: 350px;
    padding-top: 20px; }
  .about-team-item__role {
    padding-bottom: 20px; }
  .recent-post {
    flex-direction: column;
    align-items: center; }
  .recent-post-img img {
    width: 360px;
    height: 220px;
    -o-object-fit: none;
    object-fit: none;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px; }
  .recent-post-subtitle {
    margin-top: 20px;
    margin-bottom: 20px; }
  .clients {
    height: 480px; }
  .clients-logo-list {
    padding: 0;
    padding-top: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center; }
  .client-logo__item {
    margin-top: 5px;
    margin-bottom: 5px; }
  .client-content-text p {
    margin-top: 30px;
    margin-bottom: 30px; } }
